
 <nav class="navbar navbar-dark bg-primary">


  <a class="navbar-brand" href="/">
    &nbsp; &nbsp;Examen Procesual 2
  </a>
  <div class="col-md-2 mt-4">
    <img width="150" alt="Udabol" src="https://1.bp.blogspot.com/_F7cZ5fhxFC8/SxSBHY3VbOI/AAAAAAAAAPc/ksocv9uQx0o/s400/logo+Udabol.gif">

  </div>
</nav>
<div class="container">
  <div class="row">
  <div class="col-md-8 mt-4">
    <ul class="list-group">
     <li
     *ngFor="let Usuario of UsuarioArray"
     class="list-group-item list-group-item-action">

    <span class="badge bg-primary">{{Usuario.codigo}}</span>  {{Usuario.nombre}} - {{Usuario.descripcion}}- {{Usuario.dim}}- {{Usuario.color}}- {{Usuario.materialesID}}
     </li>
    </ul>
    <br/>

    <div class="card card-primary">

      <div class="card-header">
          <h3 class="card-title">Ingresar los datos</h3>
      </div>
    <form id="quickForm" method="POST" action="#" enctype="multipart/form-data">
      <div class="card-body">

          <div class="form-group">

              <label>Nombre: </label>
              <input type="text" class="form-control" id="txt_nombre" name="txt_nombre" placeholder="Ingresar Nombre">

          </div>

          <div class="form-group">

            <label>Descripcion: </label>
            <input type="text" class="form-control" id="txt_de" name="txt_de" placeholder="Ingresar la Descripcion">

        </div>

        <div class="form-group">

          <label>Dim: </label>
          <input type="text" class="form-control" id="txt_dim" name="txt_dim" placeholder="Ingresar la Dim">

      </div>

      <div class="form-group">

        <label>Color: </label>
        <input type="text" class="form-control" id="txt_co" name="txt_co" placeholder="Ingresar el Color">

    </div>

    <div class="form-group">

      <label>Id del Material: </label>
      <input type="text" class="form-control" id="txt_id" name="txt_id" placeholder="Ingresar el Id"s>

  </div>

      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">Guardar</button>
        &nbsp;
        <button type="submit" class="btn btn-info">Modificar</button>
        &nbsp;
        <button type="submit" class="btn btn-danger">Eliminar</button>

    </div>

    </form>
    </div>









</div>
</div>

